html>
    <head>
        <title>What new in drama</title>
         <input type="date" month=" " day=" " year="">
        <script>
           <img src="ass5webphoto.jpg" alt="upload image">
          <p> Here are some of the new drama that you will see or want to watch for 2022. 

        </script>
    </head>
    <body>
        
    </body>
</html>