
<title> options on trending shows/movies</title>

<img src="movies&tvshows.jpg" alt="title image">

<p> Hello My name is Lily Xu and today I will be brefily talking about the trending movies and tv shows
for this year. So let begin today review. As we all known the most popular movie so far that I 
have enjoy so far is Top Gun:Marrick. I really enjoy this movies and I peosnally think this is better
then the first one. I like how it went from eminies to freiendship. The actions sences were inteste and
get you on your toes as if you want more. The story line was very well done and the plot was well written
as well. Each of the chatacter development had a good paste. 

The tvs show that I enoyed the most watching was squid game. The korean tv show drama was a hit and it was
a different type of show to watch. The thiller the intesne of each character and the fear for each game 
that they played was unique. It become the number one best show and won many awards. The game that they use 
was just a spin off our fvaourite chilhood game with the twist of death as well as some of korea most popular
childhood games that we north american get to experience. 

Well that all I have for today foks see you soon.</p>