

<html> 
<body> 
  <link "https://curious-rose-cloak.cyclic.app">      
  
<header>
<img src="img_world\entertiment\(2\).jpg)" alt="logo" width="250" height="100">

<div> 
    <a href="blog page.html" class="navgation">Home</a>
    <a href="article page.html" class="navgation">article</a>
    <a href="sign in page.html" class="navgation">sign in</a>
    <input type="search">
</div>
</header>

<div class="row"> 
    <div class="column">
      <img src="topmovies.jpg" style="width:100%">
      <img src="tvshows.jpg" style="width:100%">
    </div>



<footer>

    <div class="social-media">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
      </div>
</footer>



</html>
</body> 